.centro-container {
  display: flex;
  height: 100vh;
  background-color: #f5f5f5;
}

.sidebar-section {
  width: 250px;
  background-color: #f5f5f5;
  padding: 0 10px;
}

.content-section {
  flex: 1;
  padding: 16px 20px 20px 20px;
  overflow-y: auto;
}
