.bootstrap-wrapper {
  display: flex;
  justify-content: center; /* Centra el contenido */
  padding: 20px;
}

.container {
  padding: 20px;
}

.full-width {
  margin-bottom: 15px;
  width: 100%;
}

mat-form-field {
  width: 100%;
  padding: 0 15px; /* Añade padding a los lados de cada campo de formulario */
}

/* Estilos adicionales para botones y posibles mensajes de error o información */
button[type="submit"] {
  background-color: #fdfffc;
  color: #179cbb;
  margin: 10px 10px 10px;
  width: 120px;
}

.wallet-section {
  padding: 0 15px;
}

.wallet-connected {
  background-color: #e8f5e9;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  border: 1px solid #4caf50;
}

.wallet-section button[type="button"] {
  margin: 0;
}

.error-message {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
}
