/* Estilos manejados con Tailwind CSS */

/* Truncar texto con ellipsis después de 2 líneas */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

  .bold {
    font-weight: bold; /* Aplica negrita */
  }
