.sidebar {
  height: 70vh;
  max-height: auto;
  max-width: 250px;
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 5px;
  left: 0;
  top: 0;
  background-color: #ffffffda;
  padding-top: 20px;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  display: block;
  transition: color 0.3s;
}

.sidebar a:hover {
  color: #ffffff;
  background-color: #096754;
}

.sidebar button {
  display: flex;
  align-items: center;
  width: 100%;
  background: none;
  border: none;
  color: #096754;
  font-size: 16px;
  padding: 10px 15px;
  text-align: left;
}

.mat-icon {
  margin-right: 10px;
}

.sidebar a,
.sidebar button {
  text-decoration: none;
  display: block;
  transition: color 0.3s;
}

.sidebar a:hover,
.sidebar button:hover {
  color: #179cbb;
}

.sidebar-title {
  color: #096754;
  margin-left: 15px;
  font-size: 20px;
  margin-bottom: 17px;
}

span {
  margin-bottom: 50px;
}

i {
  margin-right: 15px;
}
