/* Estilos manejados con Tailwind CSS */

/* Media queries para pantallas más pequeñas o con escalas superiores */
@media (max-width: 1200px) {
  .mat-form-field {
    width: 90%;
  }

  button[type="reset"] {
    margin-left: 30px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 15px;
  }

  button[type="reset"] {
    margin-left: 20px;
  }
}
